:root {
  --back-prim-color: white;
  --back-prim-color-alt: #c0cedd;
  --font-prim-color: rgb(19, 17, 17);
  --our-gray: #6e767a;
  --our-blue: #1da1f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.leftsidebar {
  background-color: var(--back-prim-color);
  /* border: solid violet; */
  position: sticky;
  top: 0;
  min-width: 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1 rem;
}

.sidebar {
  height: 80vh;
  /* width: 90%;
  border: solid green; */
  padding-top: 1rem;
  background-color: var(--back-prim-color);
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

footer {
  height: 20vh;
  width: 90%;
  /* border: solid tomato; */
  display: flex;
  justify-content: space-between;

  align-items: center;
}

nav {
  display: flex;
  height: 90%;
  /* border: solid blue; */
  flex-direction: column;
  justify-content: flex-start;

  /* overflow: hidden; */
}
.header {
  align-self: center;

  /* margin-top: 0.75rem; */
  /* width: 90%; */
  margin: 0.25rem 0.5rem;
  /* border: solid red; */
}

.nav-list {
  display: flex;
  /* border: solid red; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  margin: 0.25rem 0.25rem;
}

.app-link {
  /* border: solid red; */
  padding: 0.75rem 0.25rem 0.25rem 0.25rem;
}
.left-link {
  /* border: solid red; */
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}
.left-icon-name,
.app-icon-name {
  display: none;
}

.left-link {
  /* position: relative; */
  color: var(--back-prim-color-alt);
  margin-bottom: 1rem;
}
.app-link {
  margin-bottom: 1rem;
}

.left-icon {
  /* font-size: 1.5rem; */
  color: var(--font-prim-color);
  cursor: pointer;
}

.app-icon {
  /* font-size: 1.5rem; */
  color: var(--our-blue);
  cursor: pointer;
}
.app-icon-name {
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--our-blue);
}
.left-icon-name {
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--font-prim-color);
}

.left-link:hover {
  color: var(--font-prim-color);
  /* border: 1rem; */
  background-color: var(--back-prim-color-alt);

  /* width: 100%; */
}

.btn-post {
  align-self: center;
  font-size: 0.9rem;
  background: var(--our-blue);
  color: #fff;
  border: none;
  border-radius: 50%;
  margin: 0.25rem 0.25rem 0.25rem 0.25rem;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  /* text-align: center; */
  cursor: pointer;
}

.useraccount {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 0.5rem; */
  /* margin: 0.5rem; */
}
.username {
  display: none;
}

.profile-img {
  /* background-image: url(../../../assets/person/prasad_image.jpg); */
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.logout {
  margin-left: auto;
}
@media screen and (min-width: 600px) {
  .leftsidebar {
    flex: 20%;
    /* min-width: 20%; */
    align-items: center;
  }

  .sidebar {
    padding: 1rem 0 0 0rem;
    max-width: 90%;
  }
  .nav-list {
    align-items: flex-start;
  }
  .header {
    align-self: flex-start;
    /* margin-top: 1rem; */
  }
  .app-link,
  .left-link {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 1.5rem;
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  }
  .left-link:hover {
    color: var(--font-prim-color);
    border: 1rem;
    background-color: var(--back-prim-color-alt);

    width: 100%;
  }
  .left-icon-name,
  .app-icon-name {
    display: inline-block;
  }
  .btn-post {
    background: var(--our-blue);
    align-self: flex-start;
    color: #fff;
    width: 100%;
    display: inline-block;
    border-radius: 1.5rem;
    border: none;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.25rem 0.5rem 0.5rem 0rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
  }

  .useraccount {
    color: var(--font-prim-color);
    width: 100%;
    /* border: solid black; */
    gap: 0.2rem;
    justify-content: flex-start;
  }
  .photo {
    flex: 30%;
    align-content: center;
    /* border: solid red; */
  }
  .username {
    flex: 70%;
    color: var(--font-prim-color);
    /* border: solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .name {
    font-weight: 500;
    align-content: center;
    font-size: 0.9rem;
  }
  .userid {
    align-content: center;
    font-size: 0.8rem;
    color: var(--our-gray);
  }
}
