@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
}
body {
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(0, 175, 245, 1) 0%,
    rgba(0, 254, 108, 1) 100%
  );
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
  overflow: hidden;
}

.display {
  background-color: #00362d;
  min-width: 30vw;
  padding: 1rem 1.2rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

.keys {
  background: #fff;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(4, auto);
  grid-template-areas:
    'ac ac del div'
    'one two three star'
    'four five six plus'
    'seven eight nine minus'
    'decimal zero equal equal';
}

button {
  background-color: #bff6e8;
  font-weight: 400;
  color: #000;
  display: flex;
  justify-content: center;
  padding: 1.6rem;
  font-size: 1.2rem;
  cursor: default;
  border: 0;
}

[data-key='1'] {
  grid-area: one;
}

[data-key='2'] {
  grid-area: two;
}

[data-key='3'] {
  grid-area: three;
}

[data-key='4'] {
  grid-area: four;
}

[data-key='5'] {
  grid-area: five;
}

[data-key='6'] {
  grid-area: six;
}

[data-key='7'] {
  grid-area: seven;
}

[data-key='8'] {
  grid-area: eight;
}

[data-key='9'] {
  grid-area: nine;
}

[data-key='0'] {
  grid-area: zero;
}
.decimal {
  grid-area: decimal;
}

[data-key='ac'] {
  grid-area: ac;
}

[data-key='equal'] {
  grid-area: equal;
}

[data-type='operator']:active,
[data-type='number']:active,
[data-type='delete']:active,
[data-type='allclear']:active {
  background: #327469;
}
