@import url('https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900');
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: Merriweather, Georgia, serif;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/assets/images/bg.jpg);
  background-size: cover;
  height: 100vh;
}

main {
  position: relative;
  color: #fff;
  height: 85vh;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: flex-end;
  align-items: center;
}

h1 {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 80px;
  text-align: center;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.075em;
}

main p {
  font-style: italic;
  font-size: 20px;
  max-width: 55%;
  text-align: center;
  line-height: 2;
}

svg {
  width: 60px;
  height: 60px;
}

nav {
  position: relative;
  top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  height: 10%;
  background-color: rgba(255, 255, 255, 0.2);
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding: 1rem;
}
.menu a {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  padding: 0px, 32px;
  font-weight: 300;
  letter-spacing: 2px;
}

i {
  color: #fff;
  font-size: 20px;
}
a {
  padding: 1.5em;
}

li:hover {
  color: #fff;
}

a:hover {
  background-color: #fff;
  color: #1e252d;
}

span a {
  text-decoration: none;
  color: inherit;
  padding: 0;
}
.underline {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
}

footer {
  display: none;
  color: #fff;
}

@media screen and (max-width: 500px) {
  nav {
    display: none;
  }
  svg {
    display: none;
  }

  main {
    position: relative;
    top: 25%;
  }

  main h1 {
    font-size: 64px;
    max-width: 100%;
  }

  main p {
    font-size: 16px;
    max-width: 100%;
  }
}
